langchain==0.3.25
langchain-anthropic==0.3.14
langchain-community==0.3.25
langchain-chroma==0.2.4
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.8
langgraph==0.4.8
langsmith==0.3.45
chromadb==1.0.12
sentence-transformers==4.1.0
streamlit==1.45.1
python-dotenv==1.1.0
